﻿/* User controls */

.in-cli-usercontrols 
{
    background-color:#00add9;
}


/* User FontColor */

.in-cli-fontcolor
{
    color:#00add9;
}

/* User Search */

.in-cli-small-search
{
    background-color:White; 
    border-color:#00add9; 
    border-width:2px;
    border-style:Solid;
    height:22px;
    width:178px; 
    vertical-align:middle; 
    text-align:left; 
    padding:1px 1px 1px 1px;
}

/* User Menu */

#texto
{
    color: #000;
    text-decoration: none;
    font-weight:bold;
    font-size: 12px;
    font-family:Arial;
}
#main-nav
{
    width: 750px;
    height: 50px;
    position: relative;
    list-style: none;
    padding: 0;
    z-index:100;
}
#main-nav .main-nav-item
{
    height: 67px;
    display: inline;
}
#main-nav .main-nav-tab
{
    margin-top: 30px;
    float: right;
    width: 72px; /*height: 67px;*/
    padding: 10px 5px 10px 5px; /*line-height: 30px;*/
    text-align: center;
    color: #FFF;
    text-decoration: none;
    font-size: 12px;
    font-family:Arial;
}
#main-nav .main-nav-item-active .main-nav-tab
{
    height: 50px;
    background-color: #323232;
    color: #FFFFFF;
}
#main-nav .main-nav-dd
{
    position: absolute;
    top: 80px;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: #323232;
    display: none;
    width: 1000px;
    color: #ffffff;
}
#main-nav .main-nav-item-active .main-nav-dd
{
    display: block;
}
#main-nav .main-nav-dd-column
{
    width: 250px;
    padding: 15px 20px 8px;
    display: table-cell;
    border-left: 1px solid #ddd;
    float: left;
    border-left: 0;
}
#main-nav .main-nav-dd-column:first-child
{
    border-left: 0;
}
#main-nav .main-nav-dd h3
{
    font-size: 13px;
    color: #ffffff;
    font-family: Arial;
}
#main-nav .main-nav-dd a
{
    color: #ffffff;
    text-decoration: none;
    font-family: Arial;
    font-size: 12px;
}
#main-nav .main-nav-dd ul
{
    height: 295px;
    list-style: none;
    padding: 0;
}
        
#main-nav .main-nav-dd-xl ul
{
    height: 495px;
    list-style: none;
    padding: 0;
}
        
#main-nav .main-nav-dd li
{
    padding: 5px 10px 5px 10px;
}
        
#main-nav .main-nav-dd li:hover
{
    background-color: #00add9;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

/* Tags Style */

div.tagsinput { border:1px solid #CCC; background: #FFF; padding:5px; width:300px; height:200px; overflow-y: auto;}
div.tagsinput span.tag { border: 0px solid #000000; -moz-border-radius:2px; -webkit-border-radius:2px; display: block; float: left; padding: 3px; text-decoration:none; background: #00add9; color: #fff; margin-right: 5px; margin-bottom:5px;font-family: helvetica;  font-size:13px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
div.tagsinput span.tag a { font-weight: bold; color: #fff; text-decoration:none; font-size: 11px; } 
div.tagsinput input { width:80px; margin:0px; font-family: helvetica; font-size: 13px; border:1px solid transparent; padding:3px; background: transparent; color: #000; outline:0px;  margin-right:5px; margin-bottom:5px; }
div.tagsinput div { display:block; float: left; } 
.tags_clear { clear: both; width: 100%; height: 0px; }
.not_valid {background: #FBD8DB !important; color: #90111A !important;}

/* Bottons */

.btn-pdfs
{
    background-image:url('../../Imgs/bg_pattern.png');
    border:2px solid #000000;
    font-family: Arial;
    font-size: 12px;
    color:#FFFFFF;
    height: 25px;
    width: 100px;
    padding: 2px 2px 2px 2px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.btn-pdfs:hover
{
    border:2px solid #00add9;
}


.btn-pdfs:active
{
    background-color:#00add9;
    background-image:url('../../Imgs/bg_pattern5.png');
    color:#000000;
    border:2px solid #000000;
}

